html {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Fraunces", serif;
    font-size:2.5vh;
    overflow: hidden;
    background-image: url("bg.jpg");
    background-size:cover;
    background-position: center;
    height: 110%;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.content {
  margin-top: 0;
  margin-right: 2em;
  text-align: right;
}

.buttonbar {
  height: 2em;
}

.disable {
font-family: "Fraunces", serif;
 float: left;
 border-radius: 5px;
 background-color: rgba(0,0,0,0);
 border: none;
 color: #c5dbd8;
 text-align: center;
 text-decoration: none;
 text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), -2px 2px 1px rgba(0, 0, 0, 0.3), 2px -2px 1px rgba(0, 0, 0, 0.3), -2px -2px 1px rgba(0, 0, 0, 0.3), 2px 0px 1px rgba(0, 0, 0, 0.3), -2px 0px 1px rgba(0, 0, 0, 0.3), 0px -2px 1px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.3);
 font-size: 0.8em;
}

.disable:hover {
 color: black;
 text-shadow: none;
 background-color: #c5dbd8;
}

h1 {
  text-shadow: 2px 2px 1px #c5dbd8, -2px 2px 1px #c5dbd8, 2px -2px 1px #c5dbd8, -2px -2px 1px #c5dbd8, 2px 0px 1px #c5dbd8, -2px 0px 1px #c5dbd8, 0px 2px 1px #c5dbd8, 0px -2px 1px #c5dbd8;

}

a {
  display:inline;
  text-decoration: none;
  color: #c5dbd8;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3), -2px 2px 1px rgba(0, 0, 0, 0.3), 2px -2px 1px rgba(0, 0, 0, 0.3), -2px -2px 1px rgba(0, 0, 0, 0.3), 2px 0px 1px rgba(0, 0, 0, 0.3), -2px 0px 1px rgba(0, 0, 0, 0.3), 0px -2px 1px rgba(0, 0, 0, 0.3), 0px 2px 1px rgba(0, 0, 0, 0.3);
}

a:hover {
  color: black;
  background-color: #c5dbd8;
  text-shadow: none;
}

.section {
  margin-bottom: 0.5em;
  max-width: 40em;
  margin-left: auto;
}

.heading {
  text-shadow: 2px 2px 1px #c5dbd8, -2px 2px 1px #c5dbd8, 2px -2px 1px #c5dbd8, -2px -2px 1px #c5dbd8, 2px 0px 1px #c5dbd8, -2px 0px 1px #c5dbd8, 0px 2px 1px #c5dbd8, 0px -2px 1px #c5dbd8;
}

.section .sub {
  visibility: hidden;
}

.section:hover .sub, .section:active .sub {
  visibility: visible;
}

span.sub {
  background-color: #c5dbd8;
}

a.sub {
  margin-left: 0.3em;
  margin-right: 0.3em;
  white-space: nowrap;
}
