body {
    font-family: "Garamond", serif;
    font-size:1em;
    overflow: hidden;
    text-align: right;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: top right;
    margin: 0em;
}

.content {
  margin: 2em;
}

a {
  display:block;
  text-decoration: none;
  color: #345c9b;
}

a:hover {
  color: black;
}

.section {
  margin-bottom: 0.5em;
}

.section .sub {
  visibility: hidden;
}

.section:hover .sub, .section:active .sub {
  visibility: visible;
}
